.bottom-line {
  z-index: 4;
  position: relative;
  width: 1200px;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    bottom: 25px;
  }

  @media screen and (max-width: 1200px) {
    width: 768px;
  }

  @media screen and (max-width: 768px) {
    justify-content: center;
    width: calc(100% - 30px);
  }
}

