.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  background: #B72F92;
  height: 50px;
  padding: 0 14px;

  &__arrow {
    margin-left: 10px;
    transition: all .3s;
  }

  &__arrow {
    margin-left: 15px;
  }

  &_mobile {
    margin-top: 30px;
    display: none;
  }

  &_desktop {
    &:hover {
      .button__arrow {
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 130px;
    height: 40px;
    display: none;

    &__arrow {
      margin-left: 15px;
    }

    &_mobile {
      display: flex;
    }
  }
}