.logo-block {
 padding-top: 30px;

 &__wrapper {
  display: flex;
  align-items: center;
 }

 &__link {
  margin-right: 60px;
 }

 @media screen and (max-width: 768px) {
  &__link {
   max-height: 35px;
   margin-right: 20px;
  }
 }
}