.content {
  &__title {
    font-size: 60px;
    color: white;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 750px;
    margin-bottom: 0;
    line-height: 105%;
    margin-top: 24px;
  }

  &__year {
    color: rgba(40, 176, 173, 1);
    font-size: 60px;
    line-height: 103%;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 3%;
    display: block;
  }

  &__date {
    display: block;
    font-weight: 600;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.035em;
    color: #61D3FF;
  }

  &__place {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #61D3FF;
  }


  @media screen and (max-width: 1400px) {
    &__title {
      font-size: 45px;
      max-width: 450px;
      margin-top: -35px;
    }

    &__year {
      font-size: 45px;
    }

    &__date {
      font-size: 28px;
    }

    &__place {
      font-size: 16px;
    }

    &__link {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 1200px) {
    &__title {
      font-size: 40px;
    }

    &__year {
      font-size: 40px;
    }

    &__date {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 8.5vw;
      max-width: 420px;
      margin-top: 0;
    }

    &__year {
      font-size: 8.5vw;
      margin-top: 15px;
      margin-bottom: 45px;
    }

    &__date {
      font-size: 7vw;
    }

    &__place {
      font-size: 14px;
    }

    &__link {
      font-size: 14px;
    }
  }

  .addeventatc {
    background: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s;

    svg {
      margin-right: 10px;
    }

    .svg {
      transition: all .3s;
    }
  }

  .addeventatc:hover {
    font-size: 18px;
    color: #61D3FF !important;

    .svg {
      fill: #61D3FF;
    }
  }


}


.addeventatc_icon {
  display: none;
}