* {
  box-sizing: border-box;
}

html {
  @media screen and (max-width: 768px) {
    height: 100%;
  }
}

body {
  margin: 0;
}

.page {
  position: relative;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background: url(../img/bg.png);
  background-position: 0 75%;
  background-repeat: no-repeat;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 100%;
    min-height: auto;
  }
}

.main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    min-height: 100%;
  }

  @media screen and (max-height: 560px) {
    min-height: 600px;
  }
}

.wrapper {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 1200px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 15px;
  }
}



@import 'header';
@import 'own';
@import 'footer';
@import 'video';
@import 'archive';
@import 'decor';
@import 'timer';