* {
  box-sizing: border-box;
}


body {
  margin: 0;
}


.main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 1200px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 15px;
  }
}


@import 'startscreen';
@import 'logo-block';
@import 'content';
@import 'video';
@import 'button';
@import 'timer';